@import "../../global.scss";

.navbar {
  height: 60px;
  width: 100vw;
  background-color: $mlbLogoBlueDark;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;

  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2vw;
    height: 100%;

    a {
      display: flex;
      align-items: center;

      img {
        border-radius: 5px;
        width: 70px;
        height: 42px;
      }
    }

    .links {
      display: flex;
      height: 100%;
      margin-left: 2vw;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0vw 2vw;
        font-weight: 700;
        font-size: 16px;
        color: white;
        text-decoration: none;
      }

      a:hover {
        border-bottom: $mlbLogoRed groove 5px;
      }
    }
  }

  .right {
    padding-right: 5vw;
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;

    .dropdown_container {
      position: relative;
      height: 100%;
      width: 100%;

      .dropdown_user {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;

        svg {
          height: 32px;
          width: 32px;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          margin-block-start: 0;
          margin-block-end: 0;
          padding-left: 10px;
        }
      }

      .dropdown {
        position: absolute;
        width: calc(100% + 5vw);
        background-color: $mlbLogoBlueDark;

        ul {
          margin-block-start: 10px;
          margin-block-end: 10px;
          padding-inline-start: 0px;
          margin-inline-start: 10px;

          li {
            list-style-type: none;
            padding: 15px 0px;
            font-size: 16px;
            font-weight: 700;
            padding-left: 5px;
          }
          li:hover{
            background-color: $mlbLogoBlueLight;
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0vw 2vw;
      font-weight: 700;
      font-size: 14px;
      color: white;
      text-decoration: none;
      height: calc(100% - 6px);
    }
    a:hover {
      border-bottom: $mlbLogoRed groove 5px;
    }
  }

  .mobile_menu {
    display: none;
  }
}


